html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 75px 0 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    outline:none;
}

.headlines {
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;;
    margin-top: 100px;
    margin-bottom: 0;
}

.texts {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333;

}



:root {
    --light-orange: #ff9900;
    --orange: #E1670E;
    --light-grey: #666;

}
/* header-content */

.header {
    box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
}

.header-content{
    padding-top: 14px;
    width: 100%;
    height: 86px;
    background: #FFF;
    position: relative;
}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header-main__bar-1 {
    display: flex;
    width: 824px;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
    padding: 2px;
}

.burger:hover {
    cursor: pointer;
}

.burger:focus {
    outline: 2px solid var(--light-orange);
}

.burger-item {
    margin-bottom: 7px;
}
.burger-bottom,
.burger-mid,
.burger-up {
    background-image: url(/img/svg/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 3px;
    display: inline-block;
}

.header-main__bar-2 {
    display: none;
}

.header-main__bar-2_item_visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 539px;
    height: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.search_window,
.header__cross {
    display: none;
}

.open_window {
    display: inline;
    border: none;
    border-bottom: 1px solid #dcdcdc; 
    width: 421px;
    margin-left: 32px;
}

.header-main__bar-1_item_link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding: 3px;
}

.header-main__bar-1_item_link:hover {
    border-bottom: 2px solid var(--light-orange);
    padding-bottom: 3px;
}

.header-main__bar-1_item_link:active {
    color: var(--light-orange);
    border: none;
    border-bottom: 2px solid var(--light-orange);
    padding-bottom: 3px;
    transition: color .1s ease-in-out;
}

.header-main__bar-1_item_link:focus{
    outline: 2px solid var(--light-orange);
    border-bottom: 0; 
}

.header-main__search-button,
.header__cross_visible {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: none;
    display: flex;
    transition: border .1s ease-in-out;
    padding: 0;
    box-sizing: content-box;
}

.header__cross_visible {
    margin-right: 13px;
}

.header-main__search-button:hover,
.header__cross:hover {
    cursor: pointer;
}

.header-main__search-button:hover svg path,
.header__cross:hover svg circle {
    stroke: var(--light-orange);
    transition: stroke .1s ease-in-out;
}

.header-main__search-button:hover svg rect,
.header__cross:hover svg rect {
    fill: var(--light-orange);
    transition: fill .1s ease-in-out;
}

.header-main__search-button:focus svg,
.header__cross:focus svg{
    outline: 2px solid var(--light-orange);
}

.header__cross:active svg rect {
    fill: #333;
    transition: fill .1s ease-in-out;

}

.header__cross:active svg circle {
    stroke: #333;
    transition: stroke .1s ease-in-out;
}

.header-main__search-button:active,
.header__cross:active {
    outline: none;
}

/* hero */
/* .swiper-slide {
    height: 620px;
    max-width: 1770px;
    background-image: url(/img/jpeg/hero1.jpg);
    background-repeat:no-repeat;
    background-position: center;
} */

.swiper-container {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: auto;
    top: 675px;

}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.4);
    width: 16px;
    height: 16px;
}

.slide1 {
    height: 620px;
    max-width: 1770px;
    background-image: url(/img/jpeg/hero1.jpg);
    background-repeat:no-repeat;
    background-position: center;
}

.slide2 {
    height: 620px;
    max-width: 1770px;
    background-image: url(/img/jpeg/hero2.jpg);
    background-repeat:no-repeat;
    background-position: center;
}

.slide3 {
    height: 620px;
    max-width: 1770px;
    background-image: url(/img/jpeg/hero3.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.slider__photos {
    height: 620px;
    max-width: 1770px;
    background-image: url(/img/jpeg/hero1.jpg);
    background-repeat:no-repeat;
    background-position: center;
}

.slider__text-and-button {
    max-height: 420px;
    max-width: 830px;
    padding-left: 80px;
    position: absolute;
    z-index: 2;
}

.slider__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.slider__headline {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    margin: 0;
}

.slider__button {
    background-color: var(--light-orange);
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-top: 66px;
    cursor: pointer;
    width: 280px;
    height: 78px;
}

.slider__button:hover {
    background-color: #ff9900B2;
    transition: background-color .1s ease-in-out;
}

.slider__button:focus {
    background-color: #ff9900B2;
    transition: background-color .1s ease-in-out;
}

.slider__button:active {
    background-color: var(--orange);
    transition: background-color .1s ease-in-out;
}



/* about-us */

.about-us__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-top: 20px;
    max-width: 1235px;
}

/* tile */

.tile__main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}

.tile__right-block {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.tile__right-block_upper-and-lower {
    border: 1px solid #CACACA;
    box-sizing: border-box;
    height: 295px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 115px;
}

.tile__right-block_upper-and-lower:last-child {
    border: 1px solid #CACACA;
    box-sizing: border-box;
    margin-top: 32px;
}

.tile__right-block_upper-and-lower_center {
    display:  flex;
    flex-direction: row;
}

.tile__right-block_headline {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    max-width: 452px;
    margin: 4px 0 0 0;
}

.tile__right-block_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin: 9px 0 8px 0;
}

.tile__right-block_upper-and-lower_info {
    margin-left: 49px;
}

.tile__left-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url(/img/jpeg/worker_924.jpg);
    background-repeat: no-repeat;
    background-position:center;
    width: 108%;
}

.tile__left-block_info {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 197px;
}

.tile__left-block_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #FFF;
    max-width: 454px;
    max-height: 96px;
    margin-left: 15px;
}

.left-block__photo {
    max-height: 622px;
}

.tile__button {
    border: 3px solid var(--light-orange);
    background-color: rgba(0, 0, 0, 0);
    color:#fff;
    font-weight: bold;
    width: 175px;
    height: 60px;
    margin: 0 15px 2px 0;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.tile__button:hover {
    background-color: var(--light-orange);
    transition: background-color .1s ease-in-out, border .1s ease-in-out;
}

.tile__button:focus {
    background-color: var(--light-orange);
}

.tile__button:active {
    border: 3px solid var(--orange);
    background-color: var(--orange);
    transition: background-color .1s ease-in-out, border .1s ease-in-out;
}

.tile__left-block_info_into {
    margin: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* how we work */

.how-we-work__step-list {
    display: flex;
    flex-direction: row;
}

.how-we-work__four-step {
    margin: 44px 73px 42px 0;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    padding: 5px;
}

.how-we-work__four-step:hover {
    color: var(--light-orange);
    transition: color .1s ease-in-out;
}

.how-we-work__four-step:focus {
    outline: 2px solid var(--light-orange);
    transition: border .1s ease-in-out;
}

.how-we-work__four-step:active {
    color: var(--orange);
    transition: color .1s ease-in-out;
}

.how-we-work__main-block {
    display: flex;
    flex-direction: row;
}

.how-we-work__left-block {
    width: 50%;
}

.how-we-work__left-block_orange-button {
    padding: 20px 38px;
    background: var(--light-orange);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-top: 34px;
    margin-right: 32px;
    cursor: pointer;
}

.how-we-work__left-block_orange-button:hover {
    background:  #F7B045;
    transition: background .1s ease-in-out;
}

.how-we-work__left-block_orange-button:focus {
    background:  #F7B045;
    transition: background .1s ease-in-out;
}

.how-we-work__left-block_orange-button:active{
    background:  var(--orange);
    transition: background .1s ease-in-out;
}


.how-we-work__left-block_white-button{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    border: 1px solid #333333;
    box-sizing: border-box;
    padding: 19px 38px;
    background-color: #fff;
    cursor: pointer;
}

.how-we-work__left-block_white-button:hover,
.how-we-work__left-block_white-button:focus {
    background-color: var(--light-grey);
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
    color: white;
}

.how-we-work__left-block_white-button:active {
    background-color: #000;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;;
    color: white;
}

.how-we-work__left-block_headline {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0;

}

.how-we-work__left-block_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-top: 8px;
}

.how-we-work__right-block {
    margin: 10px 0 0 142px;
    width: 57%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}

.hww_1 {
    background-image: url(/img/jpeg/hww.jpg);
}

.hww_2 {
    background-image: url(/img/jpeg/hww2.jpg);
}

.hww_3 {
    background-image: url(/img/jpeg/hww3.jpg);
}

.hww_4 {
    background-image: url(/img/jpeg/hww4.jpg);
}

.tabs-nab__btn--active {
    color: #E1670E;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: flex;
    flex-direction: row;

 }

.how-we-work__right-block_img {
    width: 870px;
    height: 460px;
    margin-left: 142px;
}

/* questions */

.ui-accordion .ui-accordion-header {
    display: flex;
    padding: 0;
}

.ui-widget-content {
    border: 0;
}
.ui-state-active {
    border: 0;
    background-color: white;
}

.ui-state-default {
    border: 0;
    background-color: white;
}

.ui-icon-triangle-1-e {
    display: none;
}

.ui-icon {
    display: none;
}

.questions__answers {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.questions__list {
    margin: 42px 0 100px 0;
}

.questions__list_item {
    padding: 28px 0;
    border-top: 1px solid #CACACA;
}

.questions__list_item:hover + .questions__list_item,
.questions__list_item:hover {
    border-top: 1px solid var(--light-orange);
}

.questions__list_item:hover  .questions__list_item_fake-plust::before {
    content: '';
    height: 50px;
    width: 50px;
    background-image: url(/img/svg/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-orange);
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    transition: border .5s ease-in-out;
}

.questions__list_item:last-of-type {
    padding: 28px 0;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}

.questions__list_item:last-of-type:hover {
    padding: 28px 0;
    border-top: 1px solid var(--light-orange);
    border-bottom: 1px solid var(--light-orange);
    transition: border .1s ease-in-out;
}

.questions__list_item_headline {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.questions__list_item_headline:hover {
    cursor: pointer;
}

.questions__list_item_open-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.questions__list_item_plust {
    display: inline-block;
    opacity: 0;
    margin: 0 0 0 auto;
}

.questions__list_item_fake-plust {
    height: 50px;
}

.questions__list_item_fake-plust::before {
    content: '';
    height: 50px;
    width: 50px;
    background-image: url(/img/svg/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECECEC;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    transition: transform .5s ease-in-out; 
}

.ui-state-active  .questions__list_item_fake-plust::before {
    transform: rotate(45deg);
}

/* .questions__list .questions__list_item_fake-plust:active::before {
    transform: rotate(45deg);
    transition: transform .1s ease-in-out;    
}

.questions__list_item_fake-plust:focus::before {
    transform: rotate(45deg);
    transition: transform .1s ease-in-out;
    
} */

.grey-stick {
    color: rgb(214, 208, 208);
}



/* footer */

.footer {
    background-color:#222222;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content__left-block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-content__left-block_link {
    padding: 3px;
}

.footer-content__left-block_link:hover {
    border-bottom: 1px solid var(--light-orange);
    padding: 3px;
    transition: border-bottom .1s ease-in-out;
}

.footer-content__left-block_link:focus{
    outline: 1px solid var(--light-orange);
    padding: 3px;
    transition: outline .1s ease-in-out;
}

.footer-content__left-block_link:active{
    color: var(--orange);
    border: none;
    border-bottom: 1px solid var(--orange);
    padding: 3px;
    padding-bottom: 3px;
    transition: border-bottom .1s ease-in-out;
}


.footer-content__left-block_social-link_fb,
.footer-content__left-block_social-link_vk,
.footer-content__left-block_social-link_inst {
    height: 60px;
    width: 60px;
    color: #7C7C7C;
    display: inline-block;
    margin-right: 21px;
}

.footer-content__left-block_social-link_inst {
    margin-right: 0;
}

.footer-content__left-block_social-link_fb:hover svg path,
.footer-content__left-block_social-link_vk:hover svg path,
.footer-content__left-block_social-link_inst:hover svg path  {
    fill: var(--light-orange);
    transition: fill .1s ease-in-out;
}

.footer-content__left-block_social-link_fb:focus,
.footer-content__left-block_social-link_vk:focus,
.footer-content__left-block_social-link_inst:focus   {
    outline: 1px solid var(--light-orange);
}

.footer-content__left-block_social-link_fb:active svg path,
.footer-content__left-block_social-link_vk:active svg path,
.footer-content__left-block_social-link_inst:active svg path  {
    fill: var(--orange);
    
}

.footer-content__left-block_social-link_fb:active,
.footer-content__left-block_social-link_vk:active,
.footer-content__left-block_social-link_inst:active {
    border:none
}

.footer-content__left-block_list {
    margin: 15px auto 90px 0;
    position: relative;
    left: -2px;
}

.footer-content__left-block_link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}

.footer-content__mid-block {
    margin-left: 106px;
}

.footer-content__mid-block_FIO,
.footer-content__mid-block_mail,
.footer-content__mid-block_message  {
    background: #414141;
    max-width: 546px;
    height: 60px;
    color: #CACACA;
    border: none;
    margin-top: 25px;
    padding: 0 0 0 24px ;

}

.footer-content__mid-block_FIO:hover,
.footer-content__mid-block_mail:hover,
.footer-content__mid-block_message:hover  {
    background: var(--light-grey);
    max-width: 546px;
    color: #CACACA;
    border: none;
    margin-top: 25px;
    padding: 0 0 0 24px ;
}

.footer-content__mid-block_FIO:active,
.footer-content__mid-block_mail:active,
.footer-content__mid-block_message:active  {
    margin-top: 25px;
    padding: 0 0 0 24px ;
}

.footer-content__mid-block_message:active  {
    padding: 0 0 90px 24px;
}

.footer-content__mid-block_message {
    padding-bottom: 90px;
}

.footer-content__mid-block_message:hover {
    padding-bottom: 90px;
}

.mid-block__buttons {
    display: flex;
    flex-direction: row;
}

.footer-content__mid-block_button {
    border: none;
    padding: 19px 52px;
    background: var(--light-orange);
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.footer-content__mid-block_button:hover {
    border: none;
    padding: 19px 52px;
    background: #ff9900B2;
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.footer-content__mid-block_button:focus{
    border: none;
    padding: 19px 52px;
    background: #ff9900B2;
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.footer-content__mid-block_button:active{
    border: none;
    padding: 19px 52px;
    background: var(--orange);
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.footer-content__mid-block_checkbox {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

.footer-content__mid-block_checkbox-fake {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #fff;
    margin-right: 4px;
}

.footer-content__mid-block_checkbox-fake:hover {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    background-color:rgba(0, 0, 0, 0.13);
    margin-right: 4px;
}

.footer-content__mid-block_checkbox-fake:active {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    background-image: url(/img/svg/green-stick.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
}

.footer-content__mid-block_headline {
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    margin-bottom: 0;
    margin-top: 50px;
}

.footer-content__mid-block_text {
    color:#CACACA;
    margin: 46px auto auto 22px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.footer-content__mid-block_form {
    display: flex;
    flex-direction: column;
}

.right-block__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    max-width: 363px;
    height: 320px;
    margin-top: 137px;
}

/*Media*/

@media (min-width: 1921px) {

    .container {
        margin: 0 auto;
        width: 1770px;
    }
    
}

@media (max-width: 1660px) and (min-width: 1024px) {

    /* Tile */

    .tile__main {
        flex-direction: column;
        align-items: center;
    }
    
    .tile__right-block {
        margin-left: 0;
        margin-top: 32px;
        max-width: 924px;
    }

    .tile__left-block {
        max-width: 924px;
        height: 640px;
    }

    /* Footer */

    .footer-content__left-block {
        margin-right: 25px;
    }

    .right-block {
        margin: 0 0 0 25px;
    }
    
}

@media (min-width: 1024px) and (max-width: 1280px) {
    
    /* Header */

    .header-main__bar-1_item:not(:nth-last-child(1)) {
        margin-left: 25px;
    }

    /* Slider */

    .slider__text-and-button {
        padding: 0;
    }

    .slider__button {
        margin-top: 30px;
    }

    .swiper-container {
        justify-content: center;
    }

    

    /* Tile */

    .tile__left-block {
        width: 100%;
    }

    /* HWW */

    /* Footer */ 
    .right-block {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px)  {
    
    .container {
        margin: 0 50px;
    }

    /* header */
    .header-main__bar-1 {
        display: none;
    }

    .header-main__bar-2 {
        display: block;
    }

    .burger {
        display: grid;
        width: 30px;
        height: 23px;
    }

    .header-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        height: 100%;
    }

    .header-main__logo_img {
        width: 150px;
        height: 48px;   
        margin-top: 2px;
        margin-right: 6px;
    }

    /* hero */

   .slide1 {
        background-image: url('/img/jpeg/hero-668w.jpg');
   }
   .swiper-slide {
    height: 663px;
    background-size: cover;
   }

    .slider__photos_pic {
        max-width: 100%;
    }

    .slider__text-and-button {
        max-width: 75vw;
    }

    .slider__headline {
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
    }

    .slider__text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .slider__text-and-button {
        padding: 0;
    }
    
    .slider__button {
        margin-top: 49px;
    }

    .swiper-container {
        justify-content: center;
    }

    .swiper-horizontal > .swiper-pagination-bullets {
        top: 720px;
    }

    /* About-us */

    .about-us__text {
        width: auto;
        margin-top: 7px;
        margin-bottom: 65px;
    }

    /* tile */

    .tile__main {
        flex-direction: column;
        margin-top: 0;
    }

    .tile__right-block {
        margin: 0;
    }

    .headlines {
        margin-top: 80px;
        margin-left: 0px;
    }

    .tile__left-block {
        height: 40em;
        width: 100%;
    }

    .left-block__photo {
        max-height: 640px;
    }

    .tile__right-block_upper-and-lower {
        margin-top: 32px;
        padding: 0 13vw 0 7.3vw;
    }


    
    /* Hww */

    .how-we-work__right-block {
        background-size: cover;
        height: auto;
        margin-left: 50px;
        margin-top: 4px;
        width: 57%;
    }
    .how-we-work__left-block {
        width: 50%;
    }
    
    .how-we-work__left-block_orange-button,
    .how-we-work__left-block_white-button {
        margin-top: 11px;
    }

    .how-we-work__left-block_text {
        margin-top: 10px;
        white-space: normal;
    }

    /* Question */

    .questions__list {
        margin: 32px 0 80px 0;
    }

    .questions__list_item,
    .questions__list_item:hover,
    .questions__list_item:last-of-type,
    .questions__list_item:last-of-type:hover {
        padding: 30px 0;
    }
    


    .questions__list_item_headline{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
    }

    .questions__list_item_fake-plust::before {
        margin-left: 80px;
    }


    /* footer */

    .footer-content__mid-block {
        margin-left: 0;
    }

    .footer-content__mid-block_FIO,
    .footer-content__mid-block_mail,
    .footer-content__mid-block_message{
        max-width: 546px;
    }

    /* .footer-content__mid-block_headline { 
        margin-left: 29px;
    } */
    .footer-content__mid-block_button:focus,
    .footer-content__mid-block_button:active,
    .footer-content__mid-block_button:hover,
    .footer-content__mid-block_button {
        padding: 19px 38px;
    }

    .right-block {
        display: none;
    }
    
}

@media (min-width: 321px) and (max-width: 768px)  {

    .container {
        margin: 0 50px;
    }

    .headlines {
        margin-top: 80px;
    }

    /* header */

    .header-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding-top: 7px;
        margin-top: 0;
    }

    .header-main__bar-1 {
        display: none;
    }

    .header-main__bar-2 {
        display: block;
    }

    .burger {
        display: grid;
        width: 30px;
        height: 23px;
    }


    .header-main__logo_img {
        width: 150px;
        height: 48px;   
        margin-top: 2px;
        margin-right: 6px;
    }

    .header-content {
        height: 69px;
        padding-top: 0;
    }

    /* hero */
    
    .slider__text-and-button {
        padding: 0;
        max-width: 76vw;
    }

    .swiper-slide  {
        height: 86vw;
    }

    .slide1 {
        background-image: url(/img/jpeg/hero-668w.jpg);
        background-size: cover;
    }
    .swiper-horizontal > .swiper-pagination-bullets {
        top: 685px;
    }

    .slider__headline {
        font-size: 50px;
        line-height: 61px;
    }
    
    .slider__text {
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .slider__button {
        margin-top: 60px;
    }

    .slider__photos {
        background-image: url(/img/jpeg/hero-668w.jpg);
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 662px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .swiper-container {
        justify-content: center;
    }
    /* Tile */
    
    .tile__main {
        flex-direction: column;
    }

    .tile__right-block_upper-and-lower {
        margin-top: 32px;
        max-height: 235px;
        padding: 0 40px 0 40px;
    }
    .tile__right-block_upper-and-lower_center { 
        align-items: center; 
    }
    
    .tile__right-block_upper-and-lower_info {
        margin-left: 16px;
    }

    .tile__right-block_upper-and-lower-img {
        height: 99px;
    }
    .tile__right-block {
        margin: 0;
    }

    .tile__right-block_text {
        margin: 8px 0 0 0;
    }

    .tile__right-block_headline {
        margin: 0;
        
    }
    
    .tile__left-block {
        width: 100%;
        height: 650px;
        position: relative;
        display: flex;
        align-items: flex-end;
        background-image: url(/img/jpeg/worker_668.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .tile__left-block_text {
        margin: 0;
        max-width: 366px;
        max-height: 128px;
    }

    .tile__left-block_info_into {
        margin: 34px 40px;
    }

    .tile__button,
    .tile__button:active,
    .tile__button:focus {
        margin: 0 0 0 47px;
    }

    .left-block__photo {
        max-height: 650px;
    }

    /* About-us */

    .about-us__text {
        margin:10px 0 60px 0;
    }

    /* HWW */
    .how-we-work__main-block,
    .tabs-item--active {
        flex-direction: column-reverse;
    }

    .how-we-work__step-list {
        justify-content: space-between;
    }
    
    .how-we-work__four-step {
        margin: 50px 0;
    }

    .how-we-work__right-block_img {
        margin: 0;
        width: 100%;
        height: 40%;
    }

    .how-we-work__right-block {
        margin: 0;
        height: 284px;
        width: 100%;
    }
    .how-we-work__left-block {
        width: 100%;  
    }

    .how-we-work__left-block_headline {
        margin-top: 38px;
    }

    .how-we-work__left-block_text{
        margin-top: 8px;
    }

    .how-we-work__left-block_orange-button:focus,
    .how-we-work__left-block_orange-button:active,
    .how-we-work__left-block_orange-button:hover,
    .how-we-work__left-block_orange-button,
    .how-we-work__left-block_orange-button {
        margin-top: 8px;
    }

    /* Question */

    .questions__list {
        margin: 32px 0 80px 0;
    }

    .questions__list_item,
    .questions__list_item:hover,
    .questions__list_item:last-of-type,
    .questions__list_item:last-of-type:hover {
        padding: 30px 0;
    }


    .questions__list_item_headline{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
    }
    
    .questions__list_item_fake-plust::before {
        margin-left: 30px;
    }

    /* footer */

    .footer-content {
        flex-direction: column-reverse;
    }

    .footer-content__mid-block {
        margin-left: 0;
    }

    .footer-content__mid-block_FIO,
    .footer-content__mid-block_FIO:hover,
    .footer-content__mid-block_mail,
    .footer-content__mid-block_mail:hover,
    .footer-content__mid-block_message,
    .footer-content__mid-block_message:hover{
        max-width: 516px;
    }

    .footer-content__mid-block_button:focus,
    .footer-content__mid-block_button:active,
    .footer-content__mid-block_button:hover,
    .footer-content__mid-block_button {
        padding: 19px 38px;
    }

    .footer-content__left-block_social-link_fb,
    .footer-content__left-block_social-link_vk {
        margin-right: 21px;
    }

    .right-block {
        display: none;
    }

    .footer-content__left-block_list {
        display: none;
    }

    .footer-content__left-block_social-link {
        margin-top: 11px
    }
}

@media (max-width: 660px) {

    .headlines {
        font-size: 24px;
        line-height: 29px;
        margin-top: 60px;
    }

    /* Header */

    .header {
        height: 69px;
    }

    .header-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    .header-main__bar-1 {
        display: none;
    }

    .header-main__bar-2 {
        display: block;
    }

    .burger {
        display: grid;
        width: 30px;
        height: 23px;
        padding: 0;
    }


    .header-main__logo_img {
        height: 35px;
        width: 110px;   
        margin: 4px 8px 0 0;
    }

    .header-content {
        height: 69px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .header-main__search-button {
        padding: 0;
    }

    /* Hero */

    .slider__photos {
        height: 308px;
        background-image: url(/img/jpeg/hero-290w.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .slider__text-and-button {
        text-align: center;
        padding: 0;
    }

    .slider__headline {
        font-weight: 800;
        font-size: 28px;
        line-height: 32px;
    }

    .slider__text {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-top: 8px;
        margin-bottom: 15px;
        padding: 0 22px;
    }

    .slider__button {
        width: 162px;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 15px;
        margin-top: 18px;
        display: inline-block;
    }

    .slider__button:focus,
    .slider__button:active,
    .slider__button:hover {
        width: 162px;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 15px;
        margin-top: 18px;
        display: inline-block;
    }
  
    /* About-us */

    .about-us__text {
        font-size: 14px;
        line-height: 28px;
    }

    /* Tile */

    .tile__main {
        flex-direction: column;
        margin-top:8px;
    }

    .tile__right-block {
        margin: 0;
    }

    .tile__right-block_upper-and-lower:last-child,
    .tile__right-block_upper-and-lower {
        border: none;
        max-height: 300px;
        padding: 0;
    }

    .tile__right-block_upper-and-lower_center {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .tile__right-block_upper-and-lower_info {
        margin: 0;
        max-width: 290px;
    }

    .tile__right-block_upper-and-lower-img {
        width: 64px;
        height: 49px;
    }

    .tile__right-block_headline {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }

    .tile__right-block_text {
        font-size: 14px;
        line-height: 28px;  
        margin-bottom: 0;
        margin-top: 5px;
    }

    .tile__left-block {
        flex-direction: column;
        margin-bottom: 32px;
        width: 100%;
        background-size: contain;
        background-position: top;
        height: auto;
    }
    
    .tile__left-block_info {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        margin-top: 100%;
    }
    
    .tile__left-block_text {
        color: #333;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        max-height: 100%;
        margin: 4px 0 10px 0;
    }

    .tile__left-block_info_into {
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
    }

    .tile__button {
        width: 162px;
        height: 40px;
        border: 2px solid #FF9900;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #FF9900;
        margin:0;
    }

    .tile__button:hover,
    .tile__button:focus,
    .tile__button:active {
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        width: 162px;
        height: 40px;
        margin: 0;
        color: white;
    }

    /* HWW */

    .how-we-work__main-block {
        flex-direction: column-reverse;
    }

    .how-we-work__right-block {
        margin: 11px 0 16px 0;
        height: 10em;
        width: auto;
        background-size: cover;
    }

    .how-we-work__step-list {
        justify-content: space-between;
    }

    .how-we-work__left-block_orange-button,
    .how-we-work__left-block_orange-button:hover,
    .how-we-work__left-block_orange-button:focus,
    .how-we-work__left-block_orange-button:active,
    .how-we-work__left-block_white-button,
    .how-we-work__left-block_white-button:hover,
    .how-we-work__left-block_white-button:focus,
    .how-we-work__left-block_white-button:active {
        height: 40px;
        margin-top: 3px;
        padding: 0;
        font-size: 12px;
        line-height: 15px;
    }


    .how-we-work__left-block_headline {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px; 
    }
    
    .how-we-work__left-block_text {
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;  
    }
    .how-we-work__four-step:hover,
    .how-we-work__four-step:focus,
    .how-we-work__four-step:active,
    .how-we-work__four-step {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin: 16px 0 0 0;
    }

    .how-we-work__left-block_white-button,
    .how-we-work__left-block_white-button:hover,
    .how-we-work__left-block_white-button:focus,
    .how-we-work__left-block_white-button:active  {
        width: 118px;
    }

    .how-we-work__left-block_orange-button {
        width: 162px;
        margin-right: 10px;
    }

    /* Questions */

    .questions__list {
        margin: 16px 0 60px 0;
    }

    .questions__list_item:last-of-type,
    .questions__list_item {
        padding: 30px 0;
    }

    .questions__list_item_headline,
    .questions__list_item_headline:last-of-type {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .questions__list_item_fake-plust {
        height: 30px;
    }

    .questions__list_item_fake-plust::before,
    .questions__list_item_fake-plust:active::before,
    .questions__list_item_fake-plust:focus::before {
        width: 30px;
        height: 30px;
        background-size: 18px;
        border-radius: 30px;
    }

    .questions__list_item:hover + .questions__list_item,
    .questions__list_item:last-of-type:hover,
    .questions__list_item:last-of-type:focus,
    .questions__list_item:last-of-type:active,
    .questions__list_item:hover,
    .questions__list_item:active,
    .questions__list_item:focus,
    .questions__list_item:last-of-type,
    .questions__list_item {
        padding: 30px 0;
    }

    .questions__list_item:hover .questions__list_item_fake-plust::before {
        height: 30px;
        width: 30px;
    }

    /* Footer */

    .footer-content {
        flex-direction: column-reverse;
    }

    .footer-content__mid-block_headline {
        font-size: 24px;
        line-height: 29px;
        margin-top: 32px;
        text-align: center;
    }

    .footer-content__mid-block {
        margin-left: 0;
    }

    .footer-content__mid-block_form {
        align-items: center;
    }

    .footer-content__mid-block_FIO,
    .footer-content__mid-block_FIO:hover,
    .footer-content__mid-block_mail,
    .footer-content__mid-block_mail:hover,
    .footer-content__mid-block_message,
    .footer-content__mid-block_message:hover{
        max-width: 290px;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        width: 100%;
    }
    .footer-content__mid-block_FIO,
    .footer-content__mid-block_FIO:hover {
        margin-top: 21px;
        padding-left: 20px;
    }

    .footer-content__mid-block_mail,
    .footer-content__mid-block_mail:hover {
        padding-left: 20px;
    }

    .footer-content__mid-block_message,
    .footer-content__mid-block_message:hover {
        padding: 0 0 90px 20px;
    }

    .mid-block__buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-content__mid-block_button:focus,
    .footer-content__mid-block_button:active,
    .footer-content__mid-block_button:hover,
    .footer-content__mid-block_button {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        padding: 12px 28px;
        margin-top: 25px;
    }

    .footer-content__mid-block_text {
        margin: 12px 0 0 0;
    }

    .footer-content__left-block_social-link_fb,
    .footer-content__left-block_social-link_vk {
        margin-right: 12px;
    }

    .footer-content__left-block_social-link_fb,
    .footer-content__left-block_social-link_vk,
    .footer-content__left-block_social-link_inst {
        width: 40px;
        height: 40px;
    }

    .right-block {
        display: none;
    }

    .footer-content__left-block {
        margin: 16px 0 32px 0;
        padding-top: 16px;
        border-top: 1px solid #595959;
        display: flex;
        flex-direction: column;
        align-items: center;     
    }

    .footer-content__left-block_list {
        display: none;
    }

    .footer-content__left-block_social-link {
        margin-top: 16px
    }

    .footer-content__mid-block_checkbox {
        bottom: 0;
        top: .5px;
    }

    .footer-content__black-logo {
        width: 131px;
        height: 42px;
    }
}
@media (max-width: 320px) {
    .container {
        margin: 0 15px;
    }

    /* Slider */

    .slider__headline {
        font-size: 20px;
        line-height: 24px;
    }

    .swiper-container {
        justify-content: center;
    }

    .swiper-slide {
        height: 96vw;
    }

    .slide1 {
        background-image: url(/img/jpeg/hero-290w.jpg);
        background-size: cover;
    }

    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }

    .swiper-horizontal > .swiper-pagination-bullets {
        top: 347px;
    }

    /* HWW */
    .tabs-item--active {
        flex-direction: column-reverse;
    }

    .how-we-work__left-block {
        width: 100%;
    }

    /* Footer */

    .footer-content__mid-block_form {
        align-items: unset;
    }

    .footer-content__mid-block_headline {
        text-align: left;
    }

    .footer-content__mid-block_FIO,
    .footer-content__mid-block_FIO:hover,
    .footer-content__mid-block_mail,
    .footer-content__mid-block_mail:hover,
    .footer-content__mid-block_message,
    .footer-content__mid-block_message:hover{
        width: auto;
    }

}